In [11]:
import pandas as pd
df = pd.read_csv("./titanic.csv")

df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)

inputs = df.drop('Survived',axis='columns')
target = df.Survived

dummies = pd.get_dummies(inputs.Sex)

inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0

In [12]:
inputs.drop(['Sex','male'],axis='columns',inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1

In [13]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1
3       1  35.0  53.1000       1
4       3  35.0   8.0500       0

Base de teste e de treinamento e o modelo Gaussiano Naive Bayes

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3)
model = GaussianNB()

model.fit(X_train,y_train)
model.score(X_test,y_test)

0.7723880597014925

In [15]:
X_test[0:10]

     Pclass        Age     Fare  female
137       1  37.000000  53.1000       0
111       3  14.500000  14.4542       1
227       3  20.500000   7.2500       0
641       1  24.000000  69.3000       1
707       1  42.000000  26.2875       0
324       3  29.699118  69.5500       0
648       3  29.699118   7.5500       0
514       3  24.000000   7.4958       0
19        3  29.699118   7.2250       1
686       3  14.000000  39.6875       0

In [16]:
y_test[0:10]

137    0
111    0
227    0
641    1
707    1
324    0
648    0
514    0
19     1
686    0
Name: Survived, dtype: int64

In [17]:
model.predict(X_test[0:10])

array([0, 1, 0, 1, 0, 0, 0, 0, 1, 0])

In [18]:
model.predict_proba(X_test[:10])

array([[0.62803723, 0.37196277],
       [0.3173246 , 0.6826754 ],
       [0.95710714, 0.04289286],
       [0.02056462, 0.97943538],
       [0.73289291, 0.26710709],
       [0.89588386, 0.10411614],
       [0.96295641, 0.03704359],
       [0.9599661 , 0.0400339 ],
       [0.38567477, 0.61432523],
       [0.936592  , 0.063408  ]])

Cálculo do valor utilizado a validação cruzada

In [19]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train, y_train, cv=5)

array([0.784     , 0.8       , 0.792     , 0.69354839, 0.80645161])